html{
  background-image:url("https://d13yacurqjgara.cloudfront.net/users/35633/screenshots/1022639/dribbble_mathieubeaulieu_subway_background-02.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
  color: black;
}

h1,
h2{
  text-align: center;
  color: white;
  font-family: comic sans ms;
}

.nav-links{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.nav-link{
  border: 2px solid red;
  display: inline-block;
  width: 120px;
  text-align: center;
}

.nav-link a{
  text-decoration: none;
  color: #595959;
}

p{
  padding: 30px;
  margin: 30px;
  font-size: 18px;
  font-family: helvetica; 
  color: white;
  background-color: rgba(45, 45, 45, .5);
}
